<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Password Generator</h1>

    <h3>
        password generator helps you to create a strong and secured
        password which takes into consideration several security measures
        and gives the user some kinds of flexibilities in setting the rules,
        including the length of the password.
    </h3>

    <h1><a href="{% url 'home' %}">Back to Home page</a></h1>
    
</body>
</html>